<header class="navbar">
    <input type="text" id="search" class="placerholderLabel" placeholder="Pesquisar" />
    <img id="imgLogo" src="/img/icons/logo.svg">
	<i class="fas fa-sign-in-alt" id="iconLogin"></i>
	<a href="/pages/upload.html"><button id="uploadVideo" class="ctaButtonLabel">ENVIAR VÍDEO</button></a>
    <div id="dropdown">
		<!-- <i id="btn-user" class="fas fa-user"></i> -->
        <i class="fas fa-sort-down" id="showDropdown"></i>
        <article id="btn-user">
            <img src="/img/authors/Camila.jpg">
        </article>
        
        <div class="dropdown-content" id="dropdown-content">
            <a href="/pages/profile.html" id="profileAnchor" class="dropdownLabel">Perfil</a>
            <!-- <a href="#">Notificações</a> -->
            <!-- <a href="/pages/upload.html" id="btn-upload">Enviar filme</a> -->
            <a href="/pages/editProfile.html" class="dropdownLabel">Configurações da conta</a>
            <a href="#" id="btn-logout" class="dropdownLabel">Sair</a>
        </div>
    </div>
    <a href="login.html"><button type="button" id="btn-login" class="buttonLabel">ENTRAR</button></a>
    <i class="fas fa-search" id="searchIcon"></i>
</header>

<style>

.navbar{
	width: 100%;
	height: 50px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--white-opac);
	position: fixed;
	z-index: 5;
}

.navbar #btn-user{
	float: right;
	position: relative;
	display: none;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	border: 2px solid var(--aqua-marine);
	margin: 15px 0;
	overflow: hidden;
}

.navbar #btn-user img{
	height: 100%;
}

.navbar #imgLogo{
	width: 150px;
	float: left;
	margin-left: 49%;
	margin-top: 17px;
}

.navbar #dropdown i{
	float: right;
	position: relative;
	color: var(--aqua-marine);
	margin: 20px 40px 0 10px;
	display: none;
}

.navbar #uploadVideo{
	margin: 17px 130px;
	position: absolute;
	right: 0;
	padding: 8px;
	color: #fff;
	background: var(--aqua-marine);
	border-radius: 2px;
	transition: 0.5s background;
	display: none;
}

.navbar #uploadVideo:hover{
	background: var(--darkish-pink);
}

.navbar h1{
	padding: 10px;
	color: #fff;
}

.navbar #search{
	display: none;
}

.navbar #searchIcon{
	display: block;
}

.navbar #btn-login{
	display: none;
	background: none;
	float: right;
	margin: 15px 25px;
	cursor: pointer;
	width: 96px;
  	height: 34px;	
	border-radius: 2px;
	border: solid 2px var(--aqua-marine);
	color: var(--aqua-marine);
	transition: background 0.5s, border 0.5s;
}

.navbar #btn-login:hover{
	color: #fff;
	background: var(--darkish-pink);
	border-color: var(--darkish-pink);
}

.navbar #btn-user:hover{
	cursor: pointer;
}

@media screen and (min-width: 1100px){
	.navbar{
		height: 70px;
	}
	.navbar h1{
		text-align: center;
		padding-top: 15px;
		padding-left: 50%;
	}
	.navbar i{
		margin: 5px 30px; 
	}
	.navbar #search{
		display: block;
		position: absolute;
		margin: 20px 150px;
		padding: 3px 30px;  
		border-bottom: solid 2px var(--aqua-marine);
		background: none;
		color: white;
		width: 300px;
		transition: border 0.5s;
	}
	.navbar #search:focus{
		border-color: var(--darkish-pink);
	}
	.navbar #searchIcon{
		position: absolute;
		margin-left: 150px;
		margin-top: 25px;
		color: var(--aqua-marine);
	}
	.navbar #btn-user{
		height: 40px;
	}
	.dropdown-content {
		margin-top: 56px;
    }
    
	#iconLogin{
		display: none;
	}
	.navbar #btn-login{
		display: block;
	}
}

.dropdown-content {
	display: none;
	margin-top: 50px; 
	position: absolute;
	right: 20px;
	background: var(--dark-blue-grey);
    width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
	display: block;
	cursor: pointer;
}

.dropdown-content a:hover {color: var(--aqua-marine);}

#dropdown:hover .dropdown-content{
	display: block;
}

</style>
