<header class="navbar">
    <input type="text" id="search" placeholder="Pesquisar" />
    <h1>LOGO</h1>
    <i class="fas fa-sign-in-alt" id="iconLogin"></i>
    <div id="dropdown">
        <i id="btn-user" class="fas fa-user"></i>
        <div class="dropdown-content">
            <a href="/pages/profile.html" id="profileAnchor">Perfil</a>
            <a href="#">Notificações</a>
            <a href="#" id="btn-upload">Enviar filme</a>
            <a href="#">Configurações da conta</a>
            <a href="#" id="btn-logout">Sair</a>
        </div>
    </div>
    <a href="login.html"<button type="button" id="btn-login">Entrar</button></a>
    <i class="fas fa-search" id="searchIcon"></i>
</header>
