
	<nav class="tabBar tabBarLabel">
		<a href="home.html" id="tagHome" class="icons"><article id="iconHome"></article><span>Início</span></a>
		<a href="browse.html" id="tagBrowse" class="icons"><article id="iconBrowse" class="icons"></article><span>Navegar</span></a>
		<a href="authors.html" id="tagAuthors" class="icons"><article id="iconAuthors" class="icons"></article><span>Produtores</span></a>
		<a href="about.html" id="tagAbout" class="icons"><article id="iconAbout" class="icons"></article><span>Sobre</span></a>
	</nav>

	<style>

		.tabBar{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px;
			background-color: var(--dark-blue-grey);
			position: fixed;
			text-align: center;
			z-index: 6;
			display: grid;
			grid-gap: 10px 0;
			grid-template-columns: 25% 25% 25% 25%;
			padding: 0 5%;
		}

		.tabBar .icons{
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
		}

		.tabBar a h1{
			display: none;
		}

		.tabBar a{
			color: #fff;
		}

		.tabBar #iconHome{
			width: 40px;
			height: 40px;
			margin: 0 auto;

			<% if (currentPage == "home") { %>
				background-image: url("../img/icons/home-active.svg");
			<% } else {  %>
				background-image: url("../img/icons/home.svg");
			<% } %> 
		}

		.tabBar #iconAuthors{
			width: 40px;
			height: 40px;
			margin: 0 auto;
			<% if (currentPage == "authors") { %>
				background-image: url("../img/icons/authors-active.svg");
			<% } else {  %>
				background-image: url("../img/icons/authors.svg");
			<% } %> 
		}

		.tabBar #iconBrowse{
			width: 40px;
			height: 40px;
			background-image: url("../img/icons/browse.svg");
			margin: 0 auto;
			<% if (currentPage == "browse") { %>
				background-image: url("../img/icons/browse-active.svg");
			<% } else {  %>
				background-image: url("../img/icons/browse.svg");
			<% } %> 
		}

		.tabBar #iconAbout{
			width: 40px;
			height: 40px;
			background-image: url("../img/icons/about.svg");
			margin: 0 auto;
			<% if (currentPage == "about") { %>
				background-image: url("../img/icons/about-active.svg");
			<% } else {  %>
				background-image: url("../img/icons/about.svg");
			<% } %> 
		}

		@media screen and (min-width: 1080px){
			.tabBar{
				height: 100%;
				width: 110px;
				padding: 0;
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr 1fr 1fr 1fr;
				align-items: center;
			}
			
			.tabBar a h1{
				display: block;
			}
		}
	</style>