<nav class="tabBar">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="pages/authors.html"><i class="fas fa-users"></i></a>
    <a href="#"><i class="fas fa-globe"></i></a>
    <a href="#"><i class="fas fa-info"></i></a>
</nav>