
	<nav class="tabBar">
		<a href="#" id="tagHome"><article id="iconHome" class="icons"></article>Início</a>
		<a href="pages/browse.html" id="tagBrowse"><article id="iconBrowse" class="icons"></article>Navegar</a>
		<a href="pages/authors.html" id="tagAuthors"><article id="iconAuthors" class="icons"></article>Produtores</a>
		<a href="pages/about.html" id="tagAbout"><article id="iconAbout" class="icons"></article>Sobre</a>
	</nav>