<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <video id="videoPlayer" controls>
        <source src="/api/video/videoStream" type="video/mp4">
      </video>
  </body>
</html>
