.tabBar #iconAuthors{
    background-image: url(../img/icons/authors-active.svg);
}

.tabBar #tagAuthors{
    color: var(--aqua-marine);
}

a{
    text-decoration: none;
}
#alphabet{
    width: 35px;
    background: none;
    text-align: center;
    margin-top: 80px; 
    padding: 8px 2px 0 0;
    position: absolute;
    right: 2%;
    overflow-y: scroll;
    height: 70%;
    position: fixed;
}

.principal .titles{
    margin-bottom: 30px;
}

.letters{
    font-size: 1.3em;
    background: none;
    color: var(--aqua-marine);
    margin-bottom: 10px;
    border-radius: 2px;
    border: solid 2px var(--aqua-marine);
    padding-top: 3px;
}

.letters:hover{
    background: var(--aqua-marine);
    color: #fff;
}

.titleLetter{
    width: 40px;
    padding: 5px;
    color: #fff;
    text-align: center;
    margin-top: 25px;
}

.blockAuthors{
    width: 87%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.infAuthor{
    height: 200px;
    margin: 5px 15px 15px 0;
    float: left;
    flex: 0 0 auto;
    text-align: center;
    background: var(--white-opac);
}

.infAuthor:hover{
    background-color:rgba(221, 48, 96, 0.7);
}

.imgAuthor{
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.imgAuthor img{
    height: 100%;
}

.blockAuthors h1{
    margin-top: 10px;
    margin-left: 5px;
}

@media screen and (min-width: 1080px){
    #alphabet{
        width: 40px;
        right: 20px;
    }
    .letters{
        font-size: 1.8em;
    }
    .blockAuthors{
        width: 95%; 
    }
}