.tabBar #iconBrowse{
    background-image: url(../img/icons/browse-active.svg);
}

.tabBar #tagBrowse{
    color: var(--aqua-marine);
}

.grid {
    width: 100%;
    margin-top: 40px; 
    display: grid;
    grid-gap: 34px;
    grid-template-areas: "aleatorio aleatorio"
                         "generos anos"
                         "tags tags";
    grid-template-columns: 1fr 1fr;
}

.aleatorio {
    grid-area: aleatorio;
    height: 408px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--black-opac);
    padding: 28px 75px 25px 57px;
}

.tituloCard {
    padding-bottom: 17px;
}

.subTituloCard {
    padding-bottom: 28px; 
}

/* .random {
    width: 33%;
}
*/
.filmRandom {
    width: 33%;
} 

.btn{
    padding: 5px 8px;
    margin: 0 auto;
    background: none;
    border-radius: 2px;
    border: solid 2px var(--tealish);
}

.btn:hover{
    background: var(--aqua-marine);
    color: #ffffff
}

.generos {
    grid-area: generos;
    height: 309px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--black-opac);
}

.generos .tituloCard {
    padding-left: 54px;
    padding-top: 28px;
    padding-bottom: 37px;
}

.generos li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 18px;
    text-align: center;
    padding-bottom: 56px;
    padding-left: 54px; 
    padding-right: 55px; 
}

.generos ul {
    font-family: BodyText;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.iconBrowse {
    width: 32px;
    height: 32px;
    /* background-color: red; */
    background-image: url("../img/icons/browse-active.svg");
}

.anos {
    grid-area: anos;
    height: 309px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--black-opac);
    padding: 28px 75px 25px 57px;
}

.tags {
    grid-area: tags;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "grid-left grid-right";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 180px;
    grid-template-rows: 1fr 10fr; 
    height: 342px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--black-opac);
    padding: 28px 75px 25px 57px;
}

.tags .tituloCard {
    grid-area: titulo;
}

.grid-left {
    grid-area: grid-left;
}

.grid-right {
    grid-area: grid-right;
    grid-template-rows: 1fr 1fr 1fr;
}

.tagTextInput {
    height: 65px;
    width: 431px;
    background-color:rgba(40,181,193, 0.3);
}

.selectedTagsBox {
    height: 100px;
}

.grid-right button {
    align-self: center;
}

.tagsBox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}


.tag {
    margin: 12px 8px;
    -webkit-flex: 1 auto;
    flex: 1 auto;
    padding-top: 0.25rem; 
    padding-right: 0.25rem;
    padding-left: 0.5rem;

    border-radius: 17px;
    background-color: #f2f2f2;
    height: 25px;
    display: inline-block;
    align-items: center;

}

/* .principal

.grid-content{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 20% 53% 20%;
    margin-top: 40px;
    margin-left: 40px; 
}

.grid-tags, .grid-random, .grid-genre{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    margin-top: 80px;
    width: 100%;
    height: 400px;
    padding: 10px;
}

.grid-random{
    padding: 0;
    height: auto;
    background: none;
}

#textRandom{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 350px;
    font-size: 1.1em;
}

#btn-randomize{
    padding: 5px 8px;
    margin-top: 20px;
    margin-left: 40%;
    background: none;
    border-radius: 2px;
    border: solid 2px var(--aqua-marine);
    color: var(--aqua-marine);
}

#btn-randomize:hover{
    background: var(--aqua-marine);
    color: #fff;
}

#random{
    margin-top: 50px;
    float: left;
}

#filmRandom{
    width: 33%;
    margin-right: 33.5%;
    float: right;
    margin-top: -25.5%;
}

.grid-genre{
    overflow-y: scroll;
    padding: 5px 0;
}

.grid-genre article{
    font-size: 1.2em;
    color: var(--aqua-marine);
    padding: 15px 25px;
    cursor: pointer;
}

.grid-genre article:hover{
    color: var(--darkish-pink);
} */