.tabBar #iconBrowse{
    background-image: url(../img/icons/browse-active.svg);
}

.tabBar #tagBrowse{
    color: var(--aqua-marine);
}

.grid {
    width: 100%;
    margin-top: 40px; 
    display: grid;
    grid-gap: 34px;
    grid-template-areas: "aleatorio aleatorio"
                         "generos anos"
                         "tags tags";
    grid-template-columns: 1fr 1fr;
}

.aleatorio {
    grid-area: aleatorio;
    height: 408px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--white-opac);
    padding: 28px 75px 25px 57px;
}

.tituloCard {
    padding-bottom: 17px;
}

.subTituloCard {
    padding-bottom: 5px; 
}

/* .random {
    width: 33%;
}
*/
.filmRandom {
    width: 33%;
} 

.btn{
    padding: 7px 8px;
    background: none;
    width: 10%;
    border-radius: 2px;
    border: solid 2px var(--tealish);
    margin-left: 31.8%;
    transition: 0.5s background, 0.5s border, 0.5s color;
}

#btn-randomize{
    margin-top: 10px;
    position: absolute;
}

.btn:hover{
    background: var(--darkish-pink);
    color: #ffffff;
    border: 2px solid var(--darkish-pink);
}

.generos {
    grid-area: generos;
    height: 309px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--white-opac);
}

.generos .tituloCard {
    padding-left: 54px;
    padding-top: 28px;
    padding-bottom: 37px;
}

.generos li {
    width: 100%;
    list-style-type: none;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    /* text-align: center; */
}

.generos a {
    width: 100%;
}

.generos ul {
    font-family: BodyText;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-bottom: 56px;
    padding-left: 34px; 
    padding-right: 55px; 
}

.imgGenre{
    width: 40px;
    height: 40px;
}

.iconBrowse {
    width: 32px;
    height: 32px;
    /* background-color: red; */
    background-image: url("../img/icons/browse-active.svg");
}
 
.anos {
    grid-area: anos;
    height: 309px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--white-opac);
    padding: 28px 75px 25px 57px;
}

.grid-anos {
    margin-top: 1.25rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-bottom: 56px;
}


.item-start {
    justify-self: start;
}

.item-end {
    justify-self: end;
}

/* .grid-anos:nth-child(1), .grid-anos:nth-child(4), .grid-anos:nth-child(7) {
    justify-self: start;
}

.grid-anos:nth-child(3), .grid-anos:nth-child(4), .grid-anos:nth-child(7) {
    justify-self: end;
} */

.tagsBox {
    grid-area: tags;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "grid-left grid-right";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 180px;
    grid-template-rows: 1fr 10fr; 
    height: 342px;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: var(--white-opac);
    padding: 28px 75px 25px 57px;
}

.tagsBox .tituloCard {
    grid-area: titulo;
}

.grid-left {
    grid-area: grid-left;
}

.grid-right {
    grid-area: grid-right;
    grid-template-rows: 1fr 1fr 1fr;
}

.tagTextInput {
    height: 65px;
    width: 431px;
    background:var(--white-opac);
    padding-left: 20px;
}

.selectedTagsBox {
    height: 100px;
}

.grid-right button {
    align-self: center;
}

#buscarBtn{
    width: 112px;
}

/* .tagsBox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
} */

.autocomplete {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: left;
}

.checkIcon {
    width: 28px;
}


/* .principal

.grid-content{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 20% 53% 20%;
    margin-top: 40px;
    margin-left: 40px; 
}

.grid-tags, .grid-random, .grid-genre{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    margin-top: 80px;
    width: 100%;
    height: 400px;
    padding: 10px;
}

.grid-random{
    padding: 0;
    height: auto;
    background: none;
}

#textRandom{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 350px;
    font-size: 1.1em;
}

#btn-randomize{
    padding: 5px 8px;
    margin-top: 20px;
    margin-left: 40%;
    background: none;
    border-radius: 2px;
    border: solid 2px var(--aqua-marine);
    color: var(--aqua-marine);
}

#btn-randomize:hover{
    background: var(--aqua-marine);
    color: #fff;
}

#random{
    margin-top: 50px;
    float: left;
}

#filmRandom{
    width: 33%;
    margin-right: 33.5%;
    float: right;
    margin-top: -25.5%;
}

.grid-genre{
    overflow-y: scroll;
    padding: 5px 0;
}

.grid-genre article{
    font-size: 1.2em;
    color: var(--aqua-marine);
    padding: 15px 25px;
    cursor: pointer;
}

.grid-genre article:hover{
    color: var(--darkish-pink);
} */

li {
    list-style: none;
    display: inline-block;
    float: left;
}

.window {
    overflow: hidden;
    position: relative;
    width: 25000px;
    height: 143px;
    right: 0px;
    margin-bottom: 50px;
}

.wraper {
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 2px;
    z-index: 1;
}

.list {
    position: relative;
    margin-left: 230;
    display: inline-block;
}

.list li {
border: 4px solid transparent;
}
.list li img {
    width: 200px;
    height: auto;
}

#imgSelect{
    width: 20%;
    height: 180px;
    background: #f2f2f2;
    overflow: hidden;
    margin-left: 27%;
    margin-top: -208px;
    z-index: 3;
    position: absolute;
    border: 2px solid var(--aqua-marine);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr; 
    align-items: center;
    justify-items: center;

}

#imgSelect div {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#imgSelect img {
    width: 64px;
    display: none;
}

#imgSelect article {
    display: none;
}

#imgSelect:hover div {
    display: grid;
    align-items: center;
    justify-items: center;
}

#imgSelect:hover img {
    width: 64px;
    height: 64px;
    display: block;
}

#imgSelect:hover article {
    width: 100%;
    height: 100%;
    padding-top: 0.75rem;
    text-align: center;
    background-color: var(--darkish-pink);
    display: block;
}

.gridYears{
    padding-top: 10px;
    display: grid;
    grid-gap: 30px 100px;
    grid-template-columns: 20% 20% 20%;
}

.gridYears article{
    cursor: pointer;
}

#checkIconBrowse{
    cursor: pointer;
}