.principal .titles{
    float:none;
    margin-top: 60px;
}

.principal .titles img{
    width: 28.6px;
    height: 19.8px;
    margin-right: 10px;
}
#img-edit{
    width: 140px;
    height: 140px;
    border: 6px solid var(--white-opac);
    border-radius: 100px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    float: left;
}
#img-edit article{
    position: absolute;
    color: #fff;
    margin-top: 55px;
    margin-left: 14px;
    font-size: 14px;
    display: none;
    z-index: 2;
}
#img-edit:hover article{
    display: block;
}
#img-edit img{
    height: 100%;
    z-index: 1;
}
#img-edit:hover img{
    filter: brightness(80%);
}
.gridPrincipal{
    display: grid;
	grid-gap: 20px 5%;
	grid-template-columns: 66% 30%;
}
.contentLeft{
    width: 100%;
    height: 430px;
    margin-top: 10px;
    background-color: var(--white-opac);
    border-radius: 30px;
    padding: 50px;
}
.contentRight{
    width: 100%;
    height: 430px;
    margin-top: 10px;
    background-color: var(--white-opac);
    border-radius: 30px;
    padding: 20px 0 20px 13%;
}
.contentRight .TitleComment{
    color: #fff;
    margin-bottom: 30px;
}
.contentRight .sectionHeader3{
    position: absolute;
}
.typeAccount{
    font-family: CircularStd-Bold;
    font-size: 18px;
    color: #fff;
    margin-top: 60px;
    opacity: 0.7;
}
#btn-editType{
    width: 150px;
    margin-top: 40px;
    display: block;
    /* mostrar */
}
#btn-editType:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
    color: #fff;
}
#btn-delete{
    width: 150px;
    margin-top: 120px;
}
#active{
    margin-top: 30px;
    display: none;
    /* mostrar */
}
.slideOne{
    margin-right: 45px;
    display: none;
    /* mostrar */
}
.contentLeft .values{
    margin-left: 30px;
    margin-top: -30px;
    float: left;
}

.contentLeft .values input[type="text"], .textfield{
    width: 100%;
    margin-bottom: 40px;
    padding: 6px 0;
    background: none;
    border-bottom: solid 2px var(--aqua-marine);
    color: #fff;
    transition: 0.5s border;
}
.contentLeft .values input[type="text"]:focus, .textfield:focus{
    border-bottom: solid 2px var(--darkish-pink);
}
.buttons{
    padding: 7px 10px;
    background: none;
    color: var(--aqua-marine);
    border: 2px solid var(--aqua-marine);
    border-radius: 3px;
    transition: 0.5s background, 0.5s border, 0.5s color; 
    cursor: pointer;
}
#edit-password{
    margin-top: -28px;
    position: absolute;
}
.buttons:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
    color: #fff;
}
.contentLeft .values article{
    color: #fff;
    float: left;
    height: 34px;
    margin-bottom: 21px;
    width: 100%;
    padding: 2px;
}
.contentLeft .values #btn-edit{
    float: right;
}

#btn-edit{
    display: none;
    margin-top: 10px;
}
footer{
    margin-top: 9%;
}
.btn-dialog{
    padding: 6px;
    width: 120px;
    text-align: center;
    border-radius: 2px;
    margin-top: 70px;
}
.btn-cancel{
    border: solid 2px var(--aqua-marine);
    color: var(--aqua-marine);
    background: none;
    transition: 0.5s background, 0.5s border, 0.5s color;
}
.btn-cancel:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
    color: #fff;
}
.btn-confirm{
    margin-left: 15px;
    border: solid 2px var(--aqua-marine);
    background: var(--aqua-marine);
    color: #fff;
    transition: 0.5s background, 0.5s border;
}
.btn-confirm:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
}

.TitleComment{
	color: #fff;
}

#textEditModal{
    color: #fff;
    margin-top: 10px;
}
#contentEditModal{
    margin-top: 8%;
}
.gridModal{
    margin-top: 30px;
    display: grid;
	grid-gap: 20px 30px;
	grid-template-columns: 60% 40%;
}

.gridModal .textfield{
    width: 82%;
}

#btn-cancelModal{
    margin-left: 20%;
}

#contentEditModal .btn-dialog{
    margin-top: 0;
}

#btn-ok{
    margin-left: 38%;
}

textarea{
    width: 100%;
    height: 150px;
    resize: none;
    background: none;
    border: 2px solid var(--aqua-marine);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#btn-cancelPortfolio{
    margin-left: 20%;
}