.principal .titles{
    float:none;
    margin-top: 60px;
}

.principal .titles img{
    width: 28.6px;
    height: 19.8px;
    margin-right: 10px;
}

 #img-edit{
    width: 140px;
    height: 140px;
    border: 6px solid rgba(21, 21, 21, 0.3);
    border-radius: 100px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
#img-edit article{
    position: absolute;
    color: #fff;
    margin-top: 55px;
    margin-left: 14px;
    font-size: 14px;
    display: none;
    z-index: 2;
}
#img-edit:hover article{
    display: block;
}
#img-edit img{
    height: 100%;
    z-index: 1;
}
#img-edit:hover img{
    filter: brightness(80%);
}

.grid-edit{
    width: 100%;
    height: 430px;
    margin-top: 20px;
    display: grid;
    grid-gap: 20px 2%;
    grid-template-columns: 15% 40% 40%;
    background-color: rgba(21, 21, 21, 0.3);
    border-radius: 30px;
    padding: 50px;
}

.grid-edit .grid-values{
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.grid-edit .grid-values input[type="text"]{
    width: 70%;
    margin-bottom: 40px;
    padding: 6px 0;
    background: none;
    border-bottom: solid 2px var(--aqua-marine);
    color: #fff;
    transition: 0.5s border;
}
.grid-edit .grid-values input[type="text"]:focus{
    border-bottom: solid 2px var(--darkish-pink);
}
.grid-edit .grid-values .buttons{
    padding: 7px 10px;
    background: none;
    color: var(--aqua-marine);
    border: 2px solid var(--aqua-marine);
    border-radius: 3px;
    transition: 0.5s background, 0.5s border, 0.5s color; 
    cursor: pointer;
}
.grid-edit .grid-values .buttons:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
    color: #fff;
}
.grid-edit .grid-values article{
    color: #fff;
    font-size: 1.3em;
    float: left;
    height: 34px;
    margin-bottom: 21px;
    width: 100%;
    padding: 2px;
}
.grid-edit .grid-values #btn-edit{
    float: right;
}

#editPortfolio{
    display: none;
}

  footer{
      margin-top: 9%;
  }
.btn-dialog{
    padding: 6px;
    width: 120px;
    text-align: center;
    border-radius: 2px;
    margin-top: -80px;
    position: absolute;
}
#btn-cancel{
    border: solid 2px var(--aqua-marine);
    color: var(--aqua-marine);
    margin-left: 33%;
    background: none;
    transition: 0.5s background, 0.5s border, 0.5s color;
}
#btn-cancel:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
    color: #fff;
}
#btn-confirm{
    margin-left: 15px;
    border: solid 2px var(--aqua-marine);
    background: var(--aqua-marine);
    color: #fff;
    transition: 0.5s background, 0.5s border;
    margin-left: 43%;
}
#btn-confirm:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
}
