.tabBar #iconHome{
  background-image: url(../img/icons/home-active.svg);
}

.tabBar #tagHome{
  color: var(--aqua-marine);
}

.banners{
  display: block;
}

.movieCardContainer{
  margin-top: 60px;
  display: grid;
  width: 100%;
  grid-gap: 20px 2%;
  grid-template-columns: 1fr 1fr;
}

.movieCardContainer a{
	text-decoration: none;
	color: #000;
}

.principal .titleInitial{
  font-family: TitleBold;
  font-size: 2em;
  width: 170px;
  margin-top: 15px;
  color: #fff;
}

.btn-viewMore{
  padding: 3px;
  font-size: 1em;
  width: 60px;
  border: solid 2px var(--aqua-marine);
  color: var(--aqua-marine);
  background: none;
  border-radius: 2px;
  transition: 0.2s background;
  float: right;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (min-width: 1080px){
  
  .banners{
    display: grid;
    grid-gap: 20px 2%;
    grid-template-columns: 50% 50%;
  }
  .movieCardContainer{
    grid-template-columns: 32% 32% 32%;
  }

  .principal .titles{
    font-size: 2.125em;
  }

}

.btn-viewMore:hover{
  background:var(--aqua-marine);
  color: #fff;
}

