html{
    background-color: var(--dark-blue-grey);
    background-image: url("../img/background-index.png");
    background-size: cover;
	height: 100%;
}
.principal{
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}
.navbar #btn-login{
	background: var(--aqua-marine);
	float: right;
	margin: 15px 25px;
	cursor: pointer;
	width: 96px;
  	height: 34px;	
	border-radius: 2px;
	border: solid 2px var(--aqua-marine);
	color: #fff;
	transition: background 0.5s, border 0.5s;
}

.navbar #btn-login:hover{
	background: var(--darkish-pink);
	border-color: var(--darkish-pink);
}
#logo{
    width: 30%;
    margin: 6% 0 40px 5%;
}
.slogan{
    margin-left: 5%;
    width: auto;
    background: white;
    padding: 15px 20px;
    margin-bottom: 15px;
}
#slogan1{
    width: 640px;
}
#slogan2{
    width: 800px;
}
.principal button{
    background: none;
    width: 261px;
    height: 48px;
    font-size: 20px;
    color: var(--aqua-marine);
    border-radius: 2px;
    border: solid 2px var(--aqua-marine);
    margin-left: 5%;
    margin-top: 30px;
    transition: background 0.5s;
    transition: color 0.5s;
}
.principal button:hover{
    background-color: var(--darkish-pink);
    border-color: var(--darkish-pink);
    color: white;
}
footer{
    position: absolute;
    bottom: 0;
    height: 50px; 
}