/* Player */
.principal{
	display: grid;
	grid-gap: 20px 20px;
	grid-template-columns: 55% 45%;
}

.principal #right{
	padding-top: 50px;
}

.principal .titles{
	margin-bottom: 10px;
}

.principal .titles img{
    width: 28.6px;
    height: 19.8px;
    margin-right: 10px;
}

.principal #views{
	float: left;
}

.principal #applauses {
	float: right;
}

.principal #textComment{
	margin-top: 100px;
	margin-bottom: 10px;
}

.principal .titlesMedium{
	font-size: 1.75em;
	color: #fff;
	text-align: left;
	margin-top: 15px;
	font-family: TitleBold;
}

.principal .content{
	font-size: 1.2em;
	width: 97%;
	padding: 10px;
	color: #fff;
	text-align: left;
	word-wrap: break-word;
	font-family: BodyText;
}

.principal .grid-infos{
	display: grid;
	grid-gap: 20px 20px;
	grid-template-columns: 50% 50%;
}

.grid-infos div .newInfo{
	color: var(--aqua-marine);
	cursor: pointer;
	text-decoration: none;
	font-size: 1.2em;
	margin: 10px;
}

.classification{
	margin: 10px;
	font-size: 1.2em;
	width: 50px;
	height: 35px;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	background: var(--darkish-pink);
	text-align: center;
}

.video{
	margin-top: 15px;
}

video{
	width: 100%;
	padding-bottom: 10px;
}

.video .btn-addVideo{
	background: #555;
	padding: 10px 15px;
	margin-right: 10px;
	color: #fff;
	margin-bottom: 15px;
}

.content-functions{
	float: right;
	margin-right: 20px;
}

.content-functions img{
	width: 25px;
	height: 25px;
	margin-left: 20px;
	cursor: pointer;
}

.video i{
	font-size: 1.7em;
	color: #333;
	margin-left: 10px;
	margin-right: 5px;
}

.comment{
	width: 97%;
	background: rgba(0, 0, 0, 0.5);
	word-wrap: break-word;
	height: 150px;
	color: #fff;
}

.imgProfile{
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: absolute;
}

.imgProfile img{
	height: 100%;
}

.comment textarea{
	margin-left: 110px;
	width:79%;
	height: 100px;
	font-size: 1em;
	padding: 10px;
	resize: none;
	background: #646464;
	color: #fff;
}

.comment h1{
	padding-top: 20px;
	margin-left: 115px;
	font-size: 1.2em;
	margin-bottom: 5px;
}

.comment .btn-comment{
	background: none;
	padding: 5px 15px;
	margin-left: 75.8%;
	border-radius: 2px;
	border: solid 2px var(--aqua-marine);
	color: var(--aqua-marine);
	width: 130px;
	text-align: center;
	margin-top: 40px;
	transition: background 0.5s, color 0.5s;
}

.comment .btn-comment:hover{
	background: var(--aqua-marine);
	color: #fff;
}

#btn-comment{
	margin-top: 5px;
}

.comment .contentComment{
	margin-left: 115px;
	width:85%;
	font-size: 1em;
	word-wrap: break-word;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}