.principal .titles{
    font-size: 2.125em;
    margin-top: 30px;
    float: left;
    color: #fff;
}

.principal .titles img{
    width: 28.6px;
    height: 19.8px;
    margin-right: 10px;
}

.principal .titlesMedium{
    text-align: center;
    float: left;
    color: #fff;
    margin-top: 100px;
}

#infos-central{
    width: 50%;
    height: 300px;
    text-align: center;
    margin-top: 80px;
    margin-left: 25%;
}

#infos-central article{
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

#infos-central #img-author{
    width: 180px;
    height: 180px;
    margin-left: 34%; 
    border-radius: 100px;
    overflow: hidden;
    border: 6px solid var(--white-opac);
}

#infos-central #img-author img{
    height: 110%;
}

#btn-more{
    padding: 5px 15px;
    background: none;
    text-align: center;
    float: right;
    border-radius: 2px;
    border: solid 2px var(--tealish);
    color: var(--tealish);
    margin-top: 100px;
    transition: 0.5s background, 0.5s border, 0.5s color; 
}

#btn-more:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
    color: #fff;
}

.group-films{
    display: grid;
    grid-gap: 20px 2%;
    grid-template-columns: 18.4% 18.4% 18.4% 18.4% 18.4%;
    margin-top: 150px;
}

.group-films .film{
    width: 100%;
    height: 40%;
    float: left;
    text-align: center;
}

.group-films .film div{
    width: 100%;
    height: 15vw;
    overflow: hidden;
}

.group-films .film div .img-film{
    width: 100%;
}

.group-films .film article{
    color: #fff;
    padding: 10px;
    background: var(--white-opac);
}
