.principal .titles{
    width: 200px;
    margin-top: 50px;
    margin-bottom: 44px;
}

.principal .titles img{
    width: 28.6px;
    height: 19.8px;
    margin-right: 10px;
}

.content-principal {
    clear: both;
}

.grid {
    display: grid;
    grid-gap: 20px 150px;
    grid-template-columns: 45% 45%;
}

/* DE ONDE É ISSO AQUi??? */

    /* grid-template-columns: 1fr 1fr;
    grid-column-gap: 10rem;
} */

.grid-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 50px;
}

.infos {
    display: grid;
    grid-template-columns: 130px minmax(300px, 600px);
}

#imgProfile img{
    height: 100%;
}

.imgDiv {
    position: relative;
}

#imgProfile{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    border: 6px solid var(--white-opac);
    overflow: hidden;
}

#imgProfile img{
    height: 100%;
}

.backgroundImg {
    height: 130px;
    width: 50%;
    background-color: var(--white-opac);
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 50%;
}

.profileRect {
    background-color: var(--white-opac);
    height: 130px;
    padding-top: 1rem;
    padding-left: 1rem;
}

.usernameLabel, .userEmailLabel {
    margin-bottom: 0.55rem;
}

.titleLine {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

#btn-editProfile{
    background: none;
    border-radius: 2px;
    border: solid 2px var(--aqua-marine);
    padding: 5px;
    width: 80px;
    transition: 0.5s background, 0.5s color, 0.5s border;
}

#btn-editProfile:hover{
    background: var(--darkish-pink);
    border: 2px solid var(--darkish-pink);
    color: #fff;
}

/* .g
roup-films .film{
    margin: 2% 2% 0 0;
    width: 29%;
    height: 40%;
    float: left;
}

.group-films .film:hover article{
    background-image: linear-gradient(to bottom, rgba(221, 48, 96, 0.8), rgba(111, 24, 48, 0));
}

.group-films .film i{
    font-size: 2em;
    color: #333;
    margin-top: 35%;
}


.group-films .film div{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.group-films .film div img{
    width: 100%;
}

.group-films .film article{
    font-size: 1.2em;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    padding: 10px;
    text-align: center;
}

.group-films .viewMore{
    width: 7%;
    height: 60px;
    border: solid 2px var(--aqua-marine);
    margin-top: 100px;
    float: right;
}

.group-films .viewMore:hover{
    background: var(--aqua-marine);
}

.group-films .viewMore:hover i{
    color: #fff;
}

.group-films .viewMore i{
    color: var(--aqua-marine);
    font-size: 2em;
    margin-top: 13px;
    margin-left: 15px;
} */

