.principal .titles{
    width: 200px;
    margin-top: 50px;
    float: left;
  }

.principal .content-principal{
    display: grid;
    grid-gap: 20px 150px;
    grid-template-columns: 45% 45%;
}

/* #btn-editProfile{
    background: none;
    border-radius: 2px;
    border: solid 2px var(--aqua-marine);
    padding: 5px;
    width: 80px;
    margin-top: 85px;
    margin-left: 85px;
} */

#btn-editProfile:hover{
    background: var(--aqua-marine);
    color: #fff;
}

/* .content-profile .infos{
    margin-top: 110px;
    backdrop-filter: blur(30px);
    background-color: rgba(21, 21, 21, 0.3);
    width: 90%;
    margin-left: 70px;
    height: 140px;
} */

/* #imgProfile{
    width: 140px;
    height: 140px;
    border-radius: 100px;
    border: 7px solid rgba(21, 21, 21, 0.3);
    float: left;
    overflow: hidden;
    margin-top: 110px;
    position: absolute;
} */

#imgProfile img{
    height: 100%;
}
/* 
.infos h1{
    margin-left: 85px;
    margin-top: 15px;
    position: absolute; */
}

.infos #email{
    margin-top: 50px;
}

.content-profile ul {
    list-style-type: none;
    overflow: hidden;
    background-color: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.content-profile li {
    float: left;
    width: 33.332%;
    display: block;
    color: var(--aqua-marine);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border: solid 2px var(--aqua-marine);
}

.content-profile li:hover {
    background-color: var(--aqua-marine);
    color: #fff;
}

.content-profile .active {
    background-color: var(--aqua-marine);
    color: #fff;
}

.content-profile .posted{
    width: 100%;
    height: 300px;
}

.group-films{
    margin-top: 10px;
    display: grid;
    width: 100%;
    grid-gap: 20px 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

/* .g
roup-films .film{
    margin: 2% 2% 0 0;
    width: 29%;
    height: 40%;
    float: left;
}

.group-films .film:hover article{
    background-image: linear-gradient(to bottom, rgba(221, 48, 96, 0.8), rgba(111, 24, 48, 0));
}

.group-films .film i{
    font-size: 2em;
    color: #333;
    margin-top: 35%;
}


.group-films .film div{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.group-films .film div img{
    width: 100%;
}

.group-films .film article{
    font-size: 1.2em;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    padding: 10px;
    text-align: center;
}

.group-films .viewMore{
    width: 7%;
    height: 60px;
    border: solid 2px var(--aqua-marine);
    margin-top: 100px;
    float: right;
}

.group-films .viewMore:hover{
    background: var(--aqua-marine);
}

.group-films .viewMore:hover i{
    color: #fff;
}

.group-films .viewMore i{
    color: var(--aqua-marine);
    font-size: 2em;
    margin-top: 13px;
    margin-left: 15px;
} */

.content-notifications ul {
    list-style-type: none;
    overflow: hidden;
    background-color: none;
    margin-top: 120px;
    width: 95%;
    cursor: pointer;
    border-radius: 5px;
}

.content-notifications li {
    float: left;
    width: 33.3%;
    border: solid 2px var(--aqua-marine);
    display: block;
    color: var(--aqua-marine);
    text-align: center;
    padding: 5px 0;
}

.content-notifications li:hover {
    background-color: var(--aqua-marine);
    color: #fff;
}

.content-notifications .active {
    background-color: var(--aqua-marine);
    color: #fff;
}

#favorites, #watchlist{
    display: none;
}

.group-notifications{
    width: 95%;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    padding-top: 10px;
    overflow-y: scroll;
}

.notifications{
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
}

#answered, #comments{
    display: none;
}

.notifications .profileNotifications{
    width: 100px;
    height: 90%;
    float: left;
}
.notifications .profileNotifications img{
    height: 100%;
}
.notifications h1{
    color: var(--aqua-marine);
    margin-left: 120px;
    padding-top: 5px;
}

.notifications h6{
    margin-left: 120px;
    padding-top: 5px;
}