.principal .titles{
    font-size: 2.1em;
    width: 200px;
    color: #fff;
    margin-top: 50px;
    float: left;
  }

.principal .content-principal{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 60% 40%;
}

#btn-editProfile{
    background: none;
    color: #30d0dd;
    border-radius: 2px;
    border: solid 2px rgb(48, 208, 221);
    padding: 8px;
    width: 80px;
    margin-top: 100px;
    margin-left: 15px;
    text-align: center;
}

#btn-editProfile:hover{
    background: #30d0dd;
    color: #fff;
}

.content-profile .infos{
    margin-top: 110px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    width: 100%;
    height: 150px;
}

#imgProfile{
    width: 150px;
    height: 150px;
    background-image: url("../img/authors/Camila.jpg");
    background-size: 110%;
    float: left;
}

.infos h1{
    font-size: 1.6em;
    margin-left: 165px;
    margin-top: 20px;
    position: absolute;
    color: #fff;
}

.infos #email{
    margin-top: 60px;
}

.content-profile ul {
    list-style-type: none;
    overflow: hidden;
    background-color: none;
    margin-top: 20px;
    cursor: pointer;
}

.content-profile li {
    float: left;
    width: 33.332%;
    display: block;
    color: #30d0dd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: solid 2px rgb(48, 208, 221);
}

.content-profile li:hover {
    background-color: #30d0dd;
    color: #fff;
}

.content-profile .active {
    background-color: #30d0dd;
    color: #fff;
}

.content-profile .posted{
    width: 100%;
    height: 300px;
}

.group-films .film{
    margin: 2% 2% 0 0;
    width: 29%;
    height: 40%;
    float: left;
}

.group-films .film:hover article{
    background-image: linear-gradient(to bottom, rgba(221, 48, 96, 0.8), rgba(111, 24, 48, 0));
}

.group-films .film i{
    font-size: 2em;
    color: #333;
    margin-top: 35%;
}

.group-films .film div{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.group-films .film div img{
    width: 100%;
}

.group-films .film article{
    font-size: 1.2em;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    padding: 10px;
    text-align: center;
}

.group-films .viewMore{
    width: 7%;
    height: 60px;
    border: solid 2px rgb(48, 208, 221);
    margin-top: 100px;
    float: right;
}

.group-films .viewMore:hover{
    background: #30d0dd;
}

.group-films .viewMore:hover i{
    color: #fff;
}

.group-films .viewMore i{
    color: #30d0dd;
    font-size: 2em;
    margin-top: 13px;
    margin-left: 15px;
}

.content-notifications ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #999;
    margin-top: 120px;
    width: 95%;
}

.content-notifications li {
    float: left;
    width: 33.3%;
}

.content-notifications li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

.content-notifications li a:hover {
    background-color: #111;
}

.content-notifications li .active {
    background-color: #111;
}

#favorites, #watchlist{
    display: none;
}