html{
    background-size: cover;
	height: 100%;
}
.principal{
    padding-left: 0; 
    margin-left: 0;
}
.navbar{
	width: 100%;
	height: 70px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: var(--white-opac);
	position: fixed;
	z-index: 5;
}
.navbar #imgLogo{
	width: 150px;
	float: left;
	margin-left: 45%;
	margin-top: 17px;
}

#content-signUp{
    margin-top: 8%;
    margin-left: 25%;
    display: grid;
    grid-gap: 20px 2%;
    grid-template-columns: 70% 25%;
}

.grid-signUp{
    background: var(--white-opac);
    border-radius: 16px;
    padding: 5%;
}

#grid-author{
    display: none;
    padding: 5% 10%;
}

#textContent{
    text-align: left;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}

.titleMatr{
    font-family: CircularStd-Bold;
    font-size: 18px;
    color: #fff;
}

.principal .titles{
    margin-top: 50px;
    float: left;
    color: #fff;
    text-decoration: none;
    margin-left: 10%;
}

.principal .titles img{
    width: 30px;
    height: 20px;
}

.textfield{
    border-bottom: solid 2px var(--aqua-marine);
    background: 0;
    margin-bottom: 30px;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    transition: border 0.5s;
}

.error{
    display: none;
    position: absolute;
    margin-top: -25px;
}

form .textfield:focus{
    border-bottom: solid 2px var(--darkish-pink);
}

form a{
    color: #fff;
    cursor: pointer;
    transition: color 0.5s;
}

form #btn-login{
    margin-top: 50px;
    float: left;
}

form a #btn-login:hover{
    color: var(--darkish-pink);
}

#textStudent{
    width: 70%;
    text-align: left;
    float: left;
}

#btn-attestation{
    border-radius: 2px;
    margin-top: 10px;
    border: solid 2px var(--aqua-marine);
    background: none;
    padding: 7px 20px;
    color: var(--aqua-marine);
    cursor: pointer;
    transition: border 0.5s, background 0.5s, color 0.5s;
}

#btn-attestation:hover{
    border: solid 2px var(--darkish-pink);
    background: var(--darkish-pink);
    color: #fff;
}

.slideOne{
    float: right;
    margin-right: 15%;
}

#form-signUp{
    display: grid;
    grid-gap: 20px 6%;
    grid-template-columns: 50% 50%;
}

form #btn-goSignUp{
    margin-top: 180px;
    margin-left: 30%;
    border-radius: 2px;
    border: solid 2px var(--aqua-marine);
    background: none;
    padding: 7px 20px;
    color: var(--aqua-marine);
    cursor: pointer;
    transition: border 0.5s, background 0.5s, color 0.5s;
}

form #btn-goSignUp:hover{
    border: solid 2px var(--darkish-pink);
    background: var(--darkish-pink);
    color: #fff;
}

footer{
    position: absolute;
    bottom: 0;
}