html{
    background-size: cover;
	height: 100%;
}
.principal{
    padding-left: 0; 
    margin-left: 0;
}

#content-signUp{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    width: 70%;
    border-radius: 8px;
    margin-top: 8%;
    margin-left: 15%;
    padding: 5%;
    padding-bottom: 10%;
}

.principal .titles{
    font-size: 34px;
    margin-top: 50px;
    float: left;
    color: #fff;
    text-decoration: none;
    margin-left: 10%;
    font-family: CircularBlack;
}

.principal .titles img{
    width: 30px;
    height: 20px;
}

form .textfield{
    border-bottom: solid 2px var(--aqua-marine);
    background: 0;
    margin-bottom: 20px;
    width: 100%;
    padding: 5px 10px;
    color: #fff;
    transition: border 0.5s;
}

form .textfield:focus{
    border-bottom: solid 2px var(--darkish-pink);
}

form a{
    color: #fff;
    cursor: pointer;
    transition: color 0.5s;
}

form #btn-login{
    margin-top: 50px;
}

form a:hover{
    color: var(--darkish-pink);
}

#form-signUp{
    display: grid;
    grid-gap: 20px 2%;
    grid-template-columns: 50% 50%;
}

form #btn-goSignUp{
    margin-top: 45px;
    float: right;
    border-radius: 2px;
    border: solid 2px var(--aqua-marine);
    background: none;
    padding: 5px 15px;
    color: var(--aqua-marine);
    cursor: pointer;
    transition: border 0.5s, color 0.5s;
}

form #btn-goSignUp:hover{
    border: solid 2px var(--darkish-pink);
    color: var(--darkish-pink);
}

footer{
    position: absolute;
    bottom: 0;
}