.principal .titles{
    font-size: 1.8em;
    margin-top: 30px;
    float: left;
    color: #fff;
    text-decoration: none;
}

.principal .titles img{
    width: 24px;
    height: 15px;
}

.grid-films{
    margin-left: 2%; 
    display: grid;
    grid-gap: 40px 10px;
    grid-template-columns: 50% 50%;
    margin-top: 100px;
}

@media screen and (min-width: 750px){

    .grid-films{
        grid-template-columns: 25% 25% 25% 25%;
        margin-left: 0%; 
    }

}

@media screen and (min-width: 1080px){
    
    .grid-films{
        grid-template-columns: 20% 20% 20% 20% 20%;
        margin-left: 0; 
    }

    .principal .titles{
        font-size: 2.1em;
    }

    .principal .titles img{
        width: 28.6px;
        height: 19.8px;
        margin-right: 10px;
    }

}