.content-principal{
    margin: 100px 30px 0 30px;
    border-radius: 8px;
    background-color: var(--black-opac);
    padding: 40px;
    max-width: 1234px;
}

.principal .titles{
    margin-top: 35px;
}

.principal .titles img{
    width: 28.6px;
    height: 19.8px;
    margin-right: 10px;
}

.grid-upload{
	display: grid;
    grid-gap: 10px 40px;
    grid-column-gap: 75px;
    grid-row-gap: 16px;
	grid-template-columns: 1fr 1fr;
}

.upload-left {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-areas: "video video"
                         "capa capa"
                         "titulo titulo"
                         "descricao descricao";
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 130px 180px 45px 3fr;
}

.videoDiv {
    grid-area: video;
}

.capaDiv {
    grid-area: capa;
}

.inlineGrid {
    margin-top: 1rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 3fr;   
}

.articleBox {
    display: grid;
    grid-row-gap: 0.5rem;
    grid-template-areas: "header header"
                         "videoName videoName"
                         "privateLabel privateSwitch" 
}

.articleBox #nameLabel {
    grid-area: header;
}
 
.articleBox text {
    grid-area: videoName;
}

.articleBox #privateLabel {
    grid-area: privateLabel;
    display: flex;
    align-items: center;
} 

.articleBox #privateSwitch {
    grid-area: privateSwitch;
}

#titleFilm {
    grid-area: titulo;
}

#description {
    grid-area: descricao;
}

.upload-right {
    display: grid;
    grid-column-gap: 56px;
    grid-row-gap: 16px;
    grid-template-areas: "tagsLabel tagsLabel"
                         "tags selectBoxes"
                         "cast cast";
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 33px 2fr 3fr;
}

#tagsLabel {
    grid-area: tagsLabel;
}

#tagsBox {
    grid-area: tags;
}

#selectBoxes {
    grid-area: selectBoxes;
}

#castBox {
    grid-area: cast;
}

.grid-upload textarea{
	width: 100%;
	height: 200px;
    resize: none;
    border-radius: 8px;
    border: solid 2px var(--tealish);  
    background: none;
    color: white;
    padding: 5px 10px;
    transition: border 0.5s;
}

.grid-upload textarea:focus{
    border-color: var(--darkish-pink);
}

#img-upload{
	width: 100%;
    height: 80px;
    border-radius: 2px;
    border: solid 2px var(--tealish);
    display: grid;
    align-items: center;
    justify-items: center;
    transition: border 0.5s;
}

#img-upload:hover {
    border-color: var(--darkish-pink);
}

#videoMP4Img, #bannerImg1 {
    height: 100%;
}

.img-banner{
    height: 128px;
    border-radius: 2px;
    border: solid 2px var(--tealish);
    display: grid;
    align-items: center;
    justify-items: center;
    transition: border 0.5s;
} 

.img-banner:hover {
    border-color: var(--darkish-pink);
}

.bannerGrid {
    margin-top: 1rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 3fr;
    align-items: flex-end;
}

.img-banner:nth-child(2) {
    height: 70%;
}

#bannerImg1, #bannerImg2 {
    height: 100%;
}


.textfield{
    background: none;
    border-bottom: solid 2px var(--tealish);
    color: white;
    padding: 5px 10px;
    width: 100%;
    transition: border 0.5s;
}

.textfield:focus{
    border-color: var(--darkish-pink);
}

.autocomplete {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
}

.checkIcon {
    width: 28px;
}
 
.descriptionListItem {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 3fr 6fr;
    align-items: center;
}

#role {
    margin-bottom: 0rem;
}

#descriptionList input, #list2 input{
    background: none;
    border-bottom: solid 2px var(--tealish);
    color: white;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 10px;
}


i{
    font-size: 20px;
    color: var(--tealish);
    cursor: pointer;
}

.btn-confirm{
	background: none;
    padding: 10px;
    width: 150px;
    margin-top: 2rem;
    border-radius: 2px;
    border: solid 2px var(--tealish);
    color: var(--tealish);
    margin-right: 10px;
}

#btn-cancel{
    margin-left: 35%;
    transition: border 0.5s, color 0.5s;
}

#btn-cancel:hover{
    border-color: var(--darkish-pink);
    color: var(--darkish-pink);
}

#btn-publish{
    background: var(--tealish);
    color: white;
    transition: border 0.5s, background 0.5s;
}

#btn-publish:hover{
    border-color: var(--darkish-pink);
    background: var(--darkish-pink);
}

.bar {
    height: 18px;
    background: green;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile + label {
    width: 100px;
    height: 50px;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: red;
}

::placeholder {
    font-family: CircularStd-Medium;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
