<div class="modal-content">
    <article class="TitleComment">Deseja mesmo excluir sua conta? :(</article>
    <button class="btn-dialog buttonLabel btn-cancel" id="btn-cancelDelete">CANCELAR</button>
    <button class="btn-dialog buttonLabel btn-confirm" id="btn-confirmDelete">EXCLUIR</button>
</div>