    <div class="modal-content" id="contentEditModal">
        <article class="TitleComment">Mudar tipo da conta</article>
        <article class="dropdownLabel" id="textEditModal">Para alterar o tipo da sua conta para “Aluno”, você precisa confirmar que está matriculado(a) no curso Cinema e Audiovisual da UFC. Para isso, informe o seu número de matrícula e envie um atestado da universidade.</article>
        
        <div class="gridModal">
            <div>
                <article class="onExibitionName">Número de matrícula</article>
                <input type="text" class="textfield placerholderLabel">
            </div>
            <div>
                <article class="onExibitionName">Atestado</article>
                <button class="buttons buttonLabel">ANEXAR ARQUIVO</button>
            </div>
        </div>
        <button class="btn-dialog buttonLabel btn-cancel" id="btn-cancelModal">CANCELAR</button>
        <button class="btn-dialog buttonLabel btn-confirm" id="btn-confirmModal">ENVIAR</button>
    </div>