<div class="modal-content" id="contentEditModal">
    <article class="TitleComment">Editar portfólio</article>
    <article class="dropdownLabel" id="textEditModal">Escreva sobre você</article>
    <textarea class="placerholderLabel"></textarea>
    <button class="btn-dialog buttonLabel btn-cancel" id="btn-cancelPortfolio">CANCELAR</button>
    <button class="btn-dialog buttonLabel btn-confirm" id="btn-confirmPortfolio">SALVAR</button>
</div>