<div class="modal-content">
    <article class="TitleComment">Solicitação enviada!</article>
    <article class="dropdownLabel" id="textEditModal">Agora é só aguardar enquanto seus dados são conferidos :)</article>
    <button class="btn-dialog buttonLabel btn-cancel" id="btn-ok">OK</button>
</div>