			<!-- MODAL LOGIN -->
			<div id="modal-login">
				<h1>Login</h1>
				<span class="close"></span><br/>
				<form>
					<input type="text" id="loginEmail" class="textfield" placeholder="Email"/><br/>
					<input type="password" id="loginPassword" class="textfield" placeholder="Senha"/><br/>
					<a href="#"><h5>Esqueceu sua senha?</h5></a>
					<input type="button" id="btn-goLogin" class="btn-go" value="Entrar"/><br/>
					<a id="btn-modal-signUp"><h2>Criar conta</h2></a>
				</form>
			</div>