<div id="modal-login">
    <h1>LOGIN</h1>
    <span class="close">&times;</span><br/>
    <form>
        <input type="text" id="loginEmail" class="textfield" placeholder="Email"/><br/>
        <input type="password" id="loginPassword" class="textfield" placeholder="Senha"/><br/>
        <input type="button" id="btn-recoverPassword" class="btn-go" value="Esqueceu sua senha?">
        <input type="button" id="btn-goLogin" class="btn-go" value="Entrar"/><br/>
        <input type="button" id="btn-modal-signUp" class="btn-go" value="Cadastre-se"></button>
    </form>
</div>