<!-- MODAL LOGOUT -->
<div class="modal-content">
	<article class="TitleComment">Deseja mesmo sair?</article>
    <button class="buttonLabel questionLogout" id="btn-cancelLogout">CANCELAR</button>
    <button class="buttonLabel questionLogout" id="btn-confirmLogout">ENVIAR</button>
</div>