			<!-- MODAL LOGOUT -->
			<div class="modal-content">
					<span class="close">&times;</span><br/>
					<h1>Deseja mesmo sair?</h1>
					<button id="cancelLogout">CANCELAR</button>
					<button id="confirmLogout">SAIR</button>
			</div>