<div id="modal-signUp">
    <h1>CADASTRO</h1>
    <span class="close">&times;</span><br/>
    <form id="form-signUp">
        <div id="form-left">
            <input type="text" id="signUpName" class="textfield" placeholder="Nome completo"/><br/>
            <input type="text" id="signUpEmail" class="textfield" placeholder="E-mail"/><br/>
            <input type="password" id="signUpPassword" class="textfield" placeholder="Senha"/><br/>
            <input type="button" id="btn-modal-login" class="btn-go" value="Já é cadastrado?"></button>
        </div>
        <div id="form-right">
            <input type="text" id="signUpUserName" class="textfield" placeholder="Nome de usuário"/><br/>
            <input type="text" id="signUpMatriculation" class="textfield" placeholder="Matrícula"/><br/>
            <input type="password" id="signUpConfirmPassword" class="textfield" placeholder="Confirmar senha"/><br/>
            <input type="button" id="btn-goSignUp" class="btn-go" value="Cadastrar"/><br/>
        </div>
    </form>
</div>