<!-- MODAL UPLOAD -->
<div id="modal-upload">
    <div class="grid-upload">
        <div class="upload-left">
            <h1>ENVIAR VÍDEO</h1>
            <article id="img-upload"><i class="fas fa-upload"></i></article>
            <form>
                <input type="text" class="textfield" placeholder="Título do filme"/>
                <textarea placeholder="Descrição"></textarea>

            </form>
            
        </div>
        <div class="upload-right">
                <span class="close">&times;</span><br/>
            <form>
                <input type="text" class="textfield" placeholder="Direção"/>
                <input type="text" class="textfield" placeholder="Roteiro"/>
                <div class="grid-itens">
                    <div>
                        <select id="select-clas">
                            <option value="" disabled>Classificação</option>
                            <option value="">Livre</option>
                            <option value="">+10</option>
                            <option value="">+12</option>
                            <option value="">+14</option>
                            <option value="">+16</option>
                            <option value="">+18</option>
                        </select>
                        <h3>Elenco</h3>
                        <i class="fas fa-plus-circle" id="addItem"></i>
                        <article id="list"></article>
                    </div>
                    <div>
                        <select id="select-public">
                            <option value="" disabled>Classificação</option>
                            <option value="">Livre</option>
                            <option value="">+10</option>
                            <option value="">+12</option>
                            <option value="">+14</option>
                            <option value="">+16</option>
                            <option value="">+18</option>
                        </select>
                        <h3>Gênero</h3>
                        <i class="fas fa-plus-circle" id="addItem2"></i>
                        <article id="list2"></article>
                    </div>
                </div>
                <button id="btn-enviar">Enviar</button>
            </form>
        </div>
    </div>
</div>