<li class="slider__frame glide__slide">
    <div class="banner-player">
        <i class="fas fa-play"></i>
    </div>
    <article> <%= name %> </article>
    <article>Descrição:<br/> <%= description %> </article>
    <article>Local de Exibição:<br/><%= exibitionLocation %> </article>
</li>   