<li class="slider__frame glide__slide">
        <div class="banner-player">
            <img src="../img/films/movie.jpg" class="img-banner">
        </div>
        <article class="titleFilm"><%= name %></article>
        <article><p>Descrição:</p><%= description %></article>
        <article><p>Local de Exibição:</p><%= exibitionLocation %></article>
    </li>  