<a href="player.html?id=<%= id %>"><div class="grid-item">
        <div>
            <img src="../img/icons/play.svg" class="icon-play">
            <img src="../img/icons/favorite.svg" class="functions">
            <img src="../img/icons/addWatchlist.svg" class="functions" id="icon-addWatchList">
            <img src="../img/films/movie.jpg" class="img-film">
        </div>
        <article><%= name %></article>
    </div></a>