<a href="pages/player.html?id=5b09a72be6643d78fc55f11a"><div class="grid-item">
    <div>
        <img src="/img/play.png" class="icon-play">
        <img src="/img/films/movie.jpg" class="img-film"></div>
    <article>Nome do filme</article>
</div></a>