<a href="player.html?id=<%= id %>"><div class="film">
	<img src="../img/icons/play.svg" class="icon-play">
	<img src="../img/icons/favorite.svg" class="functions">
	<img src="../img/icons/addWatchlist.svg" class="functions" id="icon-addWatchList">
	<article class="imgFilm"><img src="../img/films/movie.jpg"></article>
	<article class="nameFilm"><%= name %></article>
</div></a>