<a href="player.html?id=<%= id %>"><div class="film">
	<img src="../img/icons/play.svg" class="icon-play">
	<img src="../img/icons/favorite.svg" class="functions">
	<img src="../img/icons/addWatchlist.svg" class="functions" id="icon-addWatchList">
	<article class="imgFilm"><img src="../img/films/movie.jpg"></article>
	<article class="nameFilm"><%= name %></article>
</div></a> 

<style>
.film{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)80%, rgba(0, 0, 0, 0));
}

.imgFilm{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.imgFilm img{
    width: 100%;
}

.nameFilm{
    font-size: 1.4em;
    padding: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.film:hover{
    background-image: linear-gradient(to bottom, rgba(221, 48, 96, 0.8)80%, rgba(111, 24, 48, 0));
}

.film .actions{
    margin-left: 58%;
}
.functions{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 9%;
    margin-top: 210px;
    display: none;
}
#icon-addWatchList{
    margin-left: 12.3%;
}
.film .icon-play{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 5.5%;
    margin-top: 6.5%;
    display: none;
}
.film:hover .icon-play{
    display: block;
}

@media screen and (min-width: 750px){

    .imgFilm{
        height: 250px;
	}
	
}

@media screen and (min-width: 1080px){

    .imgFilm{
        height: 250px;
    }
    .film:hover .functions{
        display: block;
	}
	
}
</style>