<a href="pages/player.html?id=<%= id %>"><div class="grid-item">
    <div>
        <img src="/img/play.png" class="icon-play">
        <img src="/img/films/movie.jpg" class="img-film"></div>
    <article><%= name %></article>
</div></a>