<div class="filmExhibition">
        <article class="imgFilmExhibition"><img src="<%= img %>"></article>
        <div>
            <h1 class="onExibitionName"><%= name %></h1>
            <h5 class="text">Mostra Percurso de Cinema</h5>
            <h3 class="sectionHeader4">Exibindo em</h3>
            <h5 class="onExibitionName text">Cineteatro São Luiz</h5>
        </div>
</div> 