<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <script src="../lib/jquery-3.3.1.min.js"></script>	
    <script src="../lib/jqcloud.min.js"></script>

	<title>Sobre</title>
	<link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link rel="stylesheet" type="text/css" href="../css/jqcloud.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="../js/cookieLibrary.js"></script>
    <script src="../js/auth.js"></script>
    <script src="../js/browse.js"></script>
</head>
<body>

	<% include ../partials/navBar %>

	<section class="principal">
			<article class="titles sectionHeader"><h1>Sobre o curso</h1></article>
			<div class="logoCinema"></div>
			<div class="aboutCinema text">
					<p>A proposta pedagógica do Curso de Cinema e Audiovisual busca fomentar a autonomia de formação, a 
					criação colaborativa e a articulação entre pensamento e produção. Entende-se que os estudantes são atores 
					de sua formação tanto nas disciplinas quanto ao longo do curso.</p><br/>
					<p>Nas diferentes disciplinas, os estudantes são estimulados a desenvolver projetos articulando seus interesses 
							específicos com a proposta geral da disciplina. A carga-horária do curso deixa ampla abertura para as 
							disciplinas optativas e livres, de modo a solicitar aos estudantes a reflexão sobre a melhor forma de construir 
							sua formação, escolhendo disciplinas da grade do Curso de Cinema e Audiovisual ou nas demais unidades 
							acadêmicas da UFC.</p><br/>
					<p>Compreende-se ainda que cinema e audiovisual constituem um campo majoritariamente de atuação coletiva, 
							dessa forma os processos coletivos de criação, colaboração e formação de equipes devem ser vivenciados 
							cotidianamente nas atividades do curso.</p>
					<article class="titlesMedium"><h1 class="sectionHeader2">Mais informações</h1></article><br/>
					<p>Para mais informações você pode acesar o site do curso de Cinema e Audiovisual da UFC. Basta clicar no 
							link a seguir: <a href="http://www.cinemaeaudiovisual.ufc.br" target="_blank">http://www.cinemaeaudiovisual.ufc.br</a></p>
					<article class="titlesMedium"><h1 class="sectionHeader2">Sobre a aplicação</h1></article><br/>
					<p>A aplicação foi desenvolvida pela time de alunos formado por Douglas Silva, Gleislla Soares, Mateus Pereira, 
							Paulo Cardoso e Rebecca Dantas, do curso de Sistemas e Mídias Digitais da UFC, como projeto da 
							disciplina de Projeto Integrado 1 do terceiro semestre do curso.</p>
					<div class="group-team">
						<a href="#"><div class="members">
							<div><img src="../img/team/douglas.jpg"></div>
							<article>Douglas Silva</article>
						</div></a>
						<a href="#"><div class="members">
							<div><img src="../img/team/gleislla.jpg"></div>
							<article>Gleislla Soares</article>
						</div></a>
						<a href="#"><div class="members">
							<div><img src="../img/team/mateus.jpg"></div>
							<article>Mateus Santos</article>
						</div></a>
						<a href="#"><div class="members">
							<div><img src="../img/team/paulo.jpg"></div>
							<article>Paulo Cardoso</article>
						</div></a>
						<a href="#"><div class="members">
							<div><img src="../img/team/rebecca.jpg"></div>
							<article>Rebecca Dantas</article>
						</div></a>
					</div>
					<br/><p>Para outros trabalhos do time, acesse: <a href="https://equipenowloading.blogspot.com.br" target="_blank">https://equipenowloading.blogspot.com.br</a></p>
			</div>
		</section>
	
		<%- include('../partials/tabBar', {currentPage: "about"}); %>

    <footer><h1 class="footer">©Now Loading</h1></footer>

    <script src="../js/global.js"></script>
    
</body>
</html>