<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <script src="../lib/jquery-3.3.1.min.js"></script>	
    <script src="../lib/jqcloud.min.js"></script>

	<title>Navegar</title>
	<link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/browse.css">
    <link rel="stylesheet" type="text/css" href="../css/jqcloud.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="../js/cookieLibrary.js"></script>
    <script src="../js/auth.js"></script>
    <script src="../js/browse.js"></script>
</head>
<body>

	<% include ../partials/navBar %>

	<section class="principal">
        <div class="grid-content">
            <div>
                <article class="titles">Tags</article>
                <div class="grid-tags"></div>
            </div>
            <div>
                <article class="titles">Aleatório</article>
                <div class="grid-random">
                    <img src="../img/icons/random.svg" id="random">
                    <img src="../img/icons/filmRandom.svg" id="filmRandom">
                </div>
                <article id="textRandom">Deixa a gente te ajudar a escolher um filme. Clique no botão abaixo.</article>
                <button id="btn-randomize">RANDOMIZAR</button>
            </div>
            <div>
                <article class="titles">Gêneros</article>
                <div class="grid-genre">
                    <a href="genre.html?genre=Ação"><article>Ação</article></a>
                    <a href="genre.html?genre=Animação"><article>Animação</article></a>
                    <a href="genre.html?genre=Aventura"><article>Aventura</article></a>
                    <a href="genre.html?genre=Curtas"><article>Curtas</article></a>
                    <a href="genre.html?genre=Documentários"><article>Documentários</article></a>
                    <a href="genre.html?genre=Drama"><article>Drama</article></a>
                    <a href="genre.html?genre=Fantasia"><article>Fantasia</article></a>
                    <a href="genre.html?genre=FicçãoCientífica"><article>Ficção Científica</article></a>
                    <a href="genre.html?genre=Suspense"><article>Suspense</article></a>
                    <a href="genre.html?genre=Terror"><article>Terror</article></a>
                </div>
            </div>
        </div>
	</section>
	
    <% include ../partials/tabBar %>
    
    <footer><h1>©Now Loading</h1></footer>

    <script src="../js/global.js"></script>
    <script src="../js/browse.js"></script>
    
</body>
</html>