<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <script src="../lib/jquery-3.3.1.min.js"></script>	
    <script src="../lib/jqcloud.min.js"></script>

    <title>Navegar</title>
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/browse.css">
    <link rel="stylesheet" type="text/css" href="../css/carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/jqcloud.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="../js/cookieLibrary.js"></script>
    <script src="../js/auth.js"></script>
    
</head>
<body>

	<% include ../partials/navBar %>

	<section class="principal">
        <div class="grid">
            <div class="aleatorio">
                <h2 class="tituloCard sectionHeader">Não sabe o que assistir?</h2>
                <p class="subTituloCard sectionSubHeader">Deixe que a gente escolhe para você. Basta clicar em Randomizar</p>
                <!-- <img src="../img/icons/random.svg" id="random" class="random">
                <img src="../img/icons/filmRandom.svg" id="filmRandom" class="filmRandom"> -->
                <div class="wraper">
                    <div class="window">
                    </ul>
                        <ul class="list">
                            <li><img src="../img/films/movie.jpg" alt=""></li>
                            <li><img src="../img/videoImg/5b2572bcf142b4b73ef7c64b.jpg" alt=""></li>
                            <li><img src="../img/videoImg/vertical/5b265cf7339523dcefdef029.jpg" alt=""></li>
                            <li><img src="../img/films/movie.jpg" alt=""></li>
                            <li><img src="../img/videoImg/vertical/5b265c18339523dcefdef027.jpg" alt=""></li>
                            <li><img src="../img/videoImg/5b2572bcf142b4b73ef7c64b.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>       
                <article id="imgSelect"></article>  
                <!-- <a href="/api/video/randomVideo"<button id="btn-randomize" class="btn buttonLabel">RANDOMIZAR</button></a> -->
                <button id="btn-randomize" class="btn buttonLabel button">RANDOMIZAR</button>
            </div>
            <div class="generos">
                <h2 class="tituloCard sectionHeader">Gêneros</h2>
                <li>
                    <a href="/pages/genre.html?genre=Ação">
                        <ul>
                            <div class="iconBrowse" class="icons"></div><span class="text">Ação</span>
                        </ul>
                    </a>
                    <a href="/pages/genre.html?genre=Animação">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Animação</span>
                        </ul>     
                    </a>
                    <a href="/pages/genre.html?genre=Aventura">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Aventura</span>
                        </ul>          
                    </a>
                    <a href="/pages/genre.html?genre=Curta">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Curtas</span>
                        </ul>   
                    </a>
                    <a href="/pages/genre.html?genre=Documentários">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Documentário</span>
                        </ul>
                    </a>
                    <a href="/pages/genre.html?genre=Drama">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Drama</span>
                        </ul>
                    </a>
                    <a href="/pages/genre.html?genre=Fantasia">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Fantasia</span>
                        </ul>
                    </a>
                    <a href="/pages/genre.html?genre=FicçãoCientífica">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Sci-Fi</span>
                        </ul> 
                    </a>
                    <a href="/pages/genre.html?genre=Suspense">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Suspense</span>
                        </ul>
                    </a>
                    <a href="/pages/genre.html?genre=Terror">
                        <ul>
                            <article class="iconBrowse" class="icons"></article><span class="text">Terror</span>
                        </ul>
                    </a>





    
                    
                    
                </li>
            </div>
            <div class="anos"> 
                <h2 class="tituloCard sectionHeader">Ano de lançamento</h2>
            </div>
            <div class="tagsBox">
                <h2 class="tituloCard sectionHeader">Busque por tags</h2>
                <div class="grid-left">
                    <p class="subTituloCard sectionSubHeader">Você pode escolher até 6 tags juntas</p>
                    <div id="selectedTags">
                    </div>
                </div>
                <div class="grid-right">
                    <div class="autocomplete">
                        <input type="text" placeholder="Digite para procurar outras tags" id="tagsInput" class="tagTextInput placerholderLabel">
                        <img src="../img/icons/check.svg" class="checkIcon" id="checkIconBrowse">
                    </div>
                    <div class="selectedTagsBox">
                    </div>
                    <a href="tag.html" id="tagSearchAnchor"><button class="btn buttonLabel" id="buscarBtn">BUSCAR</button></a>
                </div>
            </div>
        </div>
	</section>
	
    <%- include('../partials/tabBar', {currentPage: "browse"}); %>
    
    <footer><h1 class="footer">©Now Loading</h1></footer>
    <script src="../js/carousel.js"></script>
    <script src="../lib/glide.min.js"></script>
    <script src="../js/carousel.js"></script>
    <script src="../js/global.js"></script>
    <script src="../js/browse.js"></script>
    
</body>
</html>