<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<script src="../lib/jquery-3.3.1.min.js"></script>	

    <title>Configurações da Conta</title>
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/editProfile.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<% include ../partials/navBar %>

	<section class="principal">
        <article class="titles sectionHeader"><img src="../img/icons/back.svg" id="iconBack"> Configurações da Conta</article>
            <div class="grid-edit">
                <article id="img-edit"><article class="tagLabel">TROCAR FOTO</article><img src="../img/authors/Camila.jpg">
                
                </article>
                <div class="grid-values">
                    <form>
                        <label class="sectionHeader3">Nome</label><br/>
                        <input type="text" id="editName" class="placerholderLabel" placeholder="Nome completo"><br/>
                        <label class="sectionHeader3">E-mail</label><br/>
                        <input type="text" id="editEmail"class="placerholderLabel" placeholder="Email"><br/>
                        <input type="button" class="buttonHoverLabel buttons" value="MUDAR SENHA">
                    </form>
                </div>
                <div class="grid-values">
                    <article class="sectionHeader2">Ativar Portfólio
                        <div class="slideOne">  
                            <input type="checkbox" value="None" id="slideOne" name="check" onclick="checkPortfolio()"/>
                            <label for="slideOne"></label>
                        </div>
                    </article>
                    <article id="editPortfolio" class="sectionHeader2">Editar Portfólio
                        <a href="editPortfolio.html"><button id="btn-edit" class="buttons buttonHoverLabel">EDITAR</button></a>
                    </article>
                    <a href=""><button class="buttonHoverLabel buttons">EXCLUIR CONTA</button></a>
                </div>
            </div>
            <a href="profile.html"><button class="btn-dialog buttonLabel" id="btn-cancel">CANCELAR</button></a>
			<a href="profile.html"><button class="btn-dialog buttonLabel" id="btn-confirm">SALVAR</button></a>
	</section>
	
    <%- include('../partials/tabBar', {currentPage: "none"}); %>
    
    <footer><h1 class="footer">©Now Loading</h1></footer>

    <script src="../js/global.js"></script>
    <script src="../js/editProfile.js"></script>
</body>
</html>