<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<script src="../lib/jquery-3.3.1.min.js"></script>	

    <title>Configurações da Conta</title>
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/editProfile.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="../js/cookieLibrary.js"></script>
    <script src="../js/auth.js"></script>
</head>
<body>

	<% include ../partials/navBar %>

	<section class="principal">
        <article class="titles sectionHeader">Configurações da Conta</article>
            <div class="gridPrincipal">
                <div class="contentLeft">
                    <article id="img-edit"><article class="tagLabel">TROCAR FOTO</article><img src="../img/authors/Camila.jpg"></article>
                    <div class="values">
                        <article class="TitleComment">Suas informações</article>
                        <form>
                            <label class="sectionHeader3">Nome</label><br/>
                            <input type="text" id="editName" class="placerholderLabel" placeholder="Nome completo"><br/>
                            <label class="sectionHeader3">E-mail</label><br/>
                            <input type="text" id="editEmail" class="placerholderLabel" placeholder="Email"><br/>
                            <input type="button" class="buttonHoverLabel buttons" id="edit-password" value="MUDAR SENHA">
                        </form>
                        <a href="profile.html"><button class="btn-dialog buttonLabel btn-cancel" id="btn-cancel">CANCELAR</button></a>
                        <a href="profile.html"><button class="btn-dialog buttonLabel btn-confirm" id="btn-confirm">SALVAR</button></a>
                    </div>
                </div>
                <div class="contentRight">
                    <article class="TitleComment">Sua conta</article>
                    <article class="titleRight sectionHeader3">Tipo de conta</article>
                    <article class="typeAccount">Padrão</article>
                    <button class="buttons buttonLabel" id="btn-editType">MUDAR TIPO</button>
                    <article id="active" class="onExibitionName">Ativar Portfólio
                        <div class="slideOne" id="checkb">  
                            <input type="checkbox" value="None" id="slideOne" name="check" onclick="checkPortfolio()"/>
                            <label for="slideOne"></label>
                        </div>
                        <button id="btn-edit" class="buttons buttonHoverLabel">EDITAR PORTFÓLIO</button>
                    </article>
                    <button class="buttonHoverLabel buttons" id="btn-delete">EXCLUIR CONTA</button>
                </div>
            </div>
            <!-- MODALs -->
            <div id="modalEditType" class="modal">
                <% include ../partials/modals/editTypeModal %>
            </div>
            <div id="modalEditTypeConfirm" class="modal">
                <% include ../partials/modals/editTypeModalConfirm %>
            </div>
            <div id="modalEditPortfolio" class="modal">
                <% include ../partials/modals/editPortfolioModal %>
            </div>
            <div id="modalDeleteAccount" class="modal">
                <% include ../partials/modals/deleteAccountModal %>
            </div>
	</section>
	
    <%- include('../partials/tabBar', {currentPage: "none"}); %>
    
    <footer><h1 class="footer">©Now Loading</h1></footer>

    <script src="../js/global.js"></script>
    <script src="../js/editProfile.js"></script>
</body>
</html>