<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<script src="../lib/jquery-3.3.1.min.js"></script>	

	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link rel="stylesheet" type="text/css" href="../css/banner-scroll.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="../js/cookieLibrary.js"></script>
	<script src="../js/auth.js"></script> 
	
</head>
<body>
	<% include ../partials/navBar %>
	
	<section class="principal">
		<article class="titleInitial">Em cartaz</article>

		<%- include('../partials/slider', {emCartazList: emCartazList}); %>

		<div class="banners">
			<div class="left">
				<article class="titles">Lançamentos</article>
				<a href="releases.html"><button class="btn-viewMore">Mais</button></a>
				<div class="movieCardContainer">
					<% releasesList.forEach(function(item){ %>
						<%- include("../partials/cards/movieCard", {name: item.name, id: item._id}); %> 
					<% }); %>
				</div>
			</div>
				<div id="right">
				<article class="titles">Recomendados</article>
				<a href="recommended.html"><button class="btn-viewMore">Mais</button></a>
				<div class="movieCardContainer">
					<% recommendedList.forEach(function(item){ %>
						<%- include("../partials/cards/movieCard", {name: item.name, id: item._id}); %> 
					<% }); %>
				</div>
			</div>
		</div>
		

		
	</section>

	<% include ../partials/tabBar %>

	<footer><h1>©Now Loading</h1></footer>

	<script src="../lib/glide.min.js"></script>
	<script src="../js/scrollbar.js"></script>
	<script src="../js/global.js"></script>

</body>
</html>