<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<script src="../lib/jquery-3.3.1.min.js"></script>	

	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="../js/cookieLibrary.js"></script>
	<script src="../js/auth.js"></script>

</head>
<body>
	<!-- NAVBAR-->
	<header class="navbar">
			<h1>LOGO</h1>
	</header>

	<section class="principal">
        <article class="titles sectionHeader"><img src="../img/icons/back.svg" id="iconBack"> Login</article>
		<div id="content-login">
            <form>
                <input type="text" id="loginEmail" class="textfield" placeholder="Email"/><br/>
                <input type="password" id="loginPassword" class="textfield" placeholder="Senha"/><br/>
                <a href="#"><article id="btn-recoverPassword" class="sectionHeader4">Esqueceu sua senha?</article></a>
                <a href="signUp.html"><article id="btn-signUp" class="sectionHeader3">Criar conta</article></a>
                <input type="button" id="btn-goLogin" class="btn-go" value="ENTRAR"/><br/>
            </form>
        </div>
	</section>
	
    <footer><h1 class="footer">©Now Loading</h1></footer>

	<script src="../js/global.js"></script>
	<script src="../js/login.js"></script>
	
</body>
</html>