<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<script src="../lib/jquery-3.3.1.min.js"></script>	

	<title>Player</title>
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/player.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="../js/cookieLibrary.js"></script>
	<script src="../js/auth.js"></script>

</head>
<body>

	<% include ../partials/navBar %>

	<% include ../partials/modals/modals %>

	<section class="principal">
		<div id="left">
			<div class="video">
				<video controls id="videoPlayer">
		  			<source src="/api/video/videoStream?id=<%= video._id %>" type="video/mp4">
				Your browser does not support the video tag.
				</video><br/>
				<article class="titles" id="videoName"><%= video.name %></article>
				<article id="views"><%= video.quantityOfView %> visualizações</article>
				<div class="content-functions">
					<img src="../img/icons/applause.svg" id="applauseIcon">
					<img src="../img/icons/addWatchList.svg" id="watchListIcon">
					<img src="../img/icons/favorite.svg" id="favoriteIcon">
					<img src="../img/icons/download.svg">
				</div>
				<!-- <button class="btn-addVideo block-logged" id="btn-watchlist">WatchList</button>
				<button class="btn-addVideo block-logged" id="btn-favorite">Favoritar</button>
				<i class="fas fa-thumbs-up"></i>50 -->
			</div>
			<article id="textComment" class="titlesMedium">Comentários</article>
			<div class="comment block-logged">
				<article class="imgProfile"><img src="../img/authors/Camila.jpg"></article>
				<textarea placeholder="Escreva aqui seu comentário..." id="commentContent"></textarea>
				<button class="btn-comment" id="btn-comment">Comentar</button>
			</div>
			<div id="commentList"></div>
			<!--
				<div class="comment">
					<i class="fas fa-user-circle"></i>
					<h1>Nome de usuário</h1>
					<div class="contentComment">
						<p>${comment.content}</p>
					</div>
					<button class="btn-comment">Responder</button>
            	</div>
			-->
		</div>
		<div id="right">
			<article class="titlesMedium">Descrição</article>
			<article class="content" id="productionInfoDescription"><%= productionInfo.description %></article>
			<article class="titlesMedium">Informações</article>
			<article class="content" id="productionInfoGenres">Gênero: dedo no cu e gritaria.<br/> Classificação: +18</article>
			<article class="titlesMedium">Direção</article>
			<article class="content">- pocoto<br/>- louro josé</article>
			<article class="titlesMedium">Roteiro</article>
			<article class="content">- pocoto<br/>- louro josé</article>
			<article class="titlesMedium">Elenco</article>
			<article class="content">- pocoto<br/>- louro josé</article>
		</div>
	</section>
	
	<nav class="tabBar">
		<a href="home.html" id="tagHome"><article id="iconHome" class="icons"></article><h1>Início</h1></a>
		<a href="browse.html" id="tagBrowse"><article id="iconBrowse" class="icons"></article><h1>Navegar</h1></a>
		<a href="authors.html" id="tagAuthors"><article id="iconAuthors" class="icons"></article><h1>Produtores</h1></a>
		<a href="about.html" id="tabAbout"><article id="iconAbout" class="icons"></article><h1>Sobre</h1></a>
	</nav>
	<footer><h1>©Now Loading</h1></footer>

	<script src="../js/player.js"></script>
	<script src="../js/global.js"></script>
	
</body>
</html>