<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<script src="../lib/jquery-3.3.1.min.js"></script>	

    <title>Portfólio</title>
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/portfolio.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="../js/cookieLibrary.js"></script>
    <script src="../js/auth.js"></script>
</head>
<body>

	<% include ../partials/navBar %>

	<section class="principal">
        <div id="infos-central">
            <article id="img-author"><img src="../img/authors/Camila.jpg"></article>
            <article class="sectionHeader">Nome do produtor</article>
            <article class="DescriptionComment" id="function">Proibido de ir aos jogos da Copa por determinação da Fifa, que não permite a participação de mascotes que não seja a do torneio, o Canarinho virou personagem de destaque nos amistosos preparatórios do Brasil para o Mundial.</article>
        </div>
		<article class="titlesMedium TitleComment">Trabalhos</article>
		<button id="btn-more" class="buttonLabel">Mais</button>
        <div class="group-films">
            <a href="player.html"><div class="film">
                <div><img src="../img/films/movie.jpg" class="img-film"></div>
                <article class="movieCardName">Nome do filme kk</article>
            </div></a>
            <a href="player.html"><div class="film">
				<div><img src="../img/films/movie.jpg" class="img-film"></div>
                <article class="movieCardName">Nome do filme</article>
            </div></a>
            <a href="player.html"><div class="film">
				<div><img src="../img/films/movie.jpg" class="img-film"></div>
                <article class="movieCardName">Nome do filme</article>
            </div></a>
            <a href="player.html"><div class="film">
				<div><img src="../img/films/movie.jpg" class="img-film"></div>
                <article class="movieCardName">Nome do filme</article>
            </div></a>
            <a href="player.html"><div class="film">
				<div><img src="../img/films/movie.jpg" class="img-film"></div>
                <article class="movieCardName">Nome do filme</article>
            </div></a>
        </div>
	</section>
	
    <%- include('../partials/tabBar', {currentPage: "none"}); %>
    
    <footer><h1 class="footer">©Now Loading</h1></footer>

    <script src="../js/global.js"></script>
</body>
</html>