<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <script src="../lib/jquery-3.3.1.min.js"></script>
    
    <script src="../lib/vendor/jquery.ui.widget.js"></script>
    <script src="../lib/jquery.iframe-transport.js"></script>
    <script src="../lib/jquery.fileupload.js"></script>

    <title>Inicio</title>

    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/upload.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="../js/cookieLibrary.js"></script>
    <script src="../js/auth.js"></script> 
    
</head>
<body>
	<% include ../partials/navBar %>
	
	<section class="principal">
        <article class="titles sectionHeader"><img src="../img/icons/back.svg" id="iconBack"> Enviar Vídeo</article>
		<div class="content-principal">
            <form 
                ref='uploadForm' 
                id='uploadForm' 
                name='uploadForm'
                action='/api/video/uploadVideo' 
                method='post' 
                encType="multipart/form-data">
            <div class="grid-upload">
                <div class="upload-left">
                    <div class="videoDiv">
                        <article class="sectionHeader2" id="VideoLabel">Vídeo</article>
                        <div class="inlineGrid">
                            <label for="videoMP4">
                                <input type="file" name="videoMP4" id="videoMP4" class="inputFile" onchange="readURL(this, 'videoMP4Img');" />
                                <article id="img-upload">
                                    <img src="../img/icons/imgUploadFilm.svg" id="videoMP4Img">
                                </article>
                            </label>
                            <div class="articleBox">
                                <article class="sectionHeader4" id="nameLabel">Nome do arquivo</article>
                                <article class="text" id="videoName"></article>
                                <article class="sectionHeader4" id="privateLabel">Este vídeo é privado?</article>
                                <div class="slideOne" id="privateSwitch">  
                                    <input type="checkbox" value="None" id="slideOne" name="check" onclick="checkPortfolio()"/>
                                    <label for="slideOne"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="capaDiv">
                        <article class="sectionHeader2" id="CapaLabel">Capas</article>
                        <div>
                            <input type="file" name="thumbnailVertical" id="thumbnail1" class="inputFile" onchange="readURL(this, 'bannerImg1');"/>
                            <input type="file" name="thumbnailHorizontal" id="thumbnail2" class="inputFile" onchange="readURL(this, 'bannerImg2');"/>
                            <div class="bannerGrid">
                                <label for="thumbnail1">
                                    <article class="img-banner">
                                        <img src="../img/icons/imgUploadBanner.svg" id="bannerImg1">
                                    </article>
                                </label>
                                <label for="thumbnail2">
                                    <article class="img-banner banner2">
                                        <img src="../img/icons/imgUploadBanner.svg" id="bannerImg2">
                                    </article>
                                </label>
                            </div>
                        </div>
                    </div>
 
                    <input type="text" id="titleFilm" name="name" class="textfield placerholderLabel" placeholder="Título do filme"/>
                    <textarea placeholder="Sinopse/Descrição" class="placerholderLabel" name="description" id="description"></textarea>
                </div>
                <div class="upload-right">
                        <article class="sectionHeader2" id="tagsLabel">Tags</article>
                        <div class="tagsBox">
                            <div class="autocomplete">
                                <input type="text" class="textfield placerholderLabel" id="tagsInput" placeholder="ex: Distopia, política"/>
                                <img src="../img/icons/check.svg" class="checkIcon" id="checkIcon">
                            </div>
                            <div class="tags" id="selectedTags">
                                <input type="text" name="tags" id="tagsInputForSending" style="display: none">
                            </div>
                            
                        </div>
                            <div class="selectBoxes">
                                <select id="year" name="year">
                                    <option value="">Ano</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                </select>
                                <select id="classification" name="classification">
                                    <option value="">Classificação</option>
                                    <option value="Livre">Livre</option>
                                    <option value="+10">+10</option>
                                    <option value="+12">+12</option>
                                    <option value="+14">+14</option>
                                    <option value="+16">+16</option>
                                    <option value="+18">+18</option>
                                </select>
                                <select id="genre" name="genre">
                                    <option value="">Gênero</option>
                                    <option value="Ação">Ação</option>
                                    <option value="Animação">Animação</option>
                                    <option value="Aventura">Aventura</option>
                                    <option value="Curta">Curta</option>
                                    <option value="Documentários">Documentário</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Fantasia">Fantasia</option>
                                    <option value="FicçãoCientífica">Ficção Científica</option>
                                    <option value="Suspense">Suspense</option>
                                    <option value="Terror">Terror</option>
                                </select>
                                <!-- <article class="titleMedium">Gênero</article>
                                <i class="fas fa-plus-circle" id="addItem2"></i>
                                <article id="list2"></article> --> 
                            </div>
                            <div id="castBox">
                                <select id="castType">
                                        <option value="">Tipo de ficha técnica</option>
                                        <option value="descriptionList">Descrever ficha técnica</option>
                                        <option value="colaborativeList">Realização colaborativa</option>
                                </select>
                                <textarea placeholder="Alunos participantes" class="placerholderLabel" name="colaborativeList" id="colaborativeList"></textarea>
                                <article id="descriptionList">
                                    <img src="../img/icons/addWatchlist.svg" id="addItem">
                                    <h1>Adicionar função</h1>
                                </article>
                            </div>
                </div>
            </div>
            <button id="btn-cancel" class="btn-confirm">CANCELAR</button>
            <button id="btn-publish" class="btn-confirm">PUBLICAR</button>
            </form>
        </div>
        </div>
        
    </section>
    
    <%- include('../partials/tabBar', {currentPage: "none"}); %>

    <footer><h1 class="footer">©Now Loading</h1></footer>

	<script src="../lib/glide.min.js"></script>
	<script src="../js/scrollbar.js"></script>
    <script src="../js/global.js"></script>
    <script src="../js/upload.js"></script>

</body>
</html>